@model TP1_webApp.Models.SQLConnection

@{
    ViewData["Title"] = "Index";
}


<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="content justify-content-center">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters">
                            <div class="col-md-5 d-flex align-items-stretch">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkovC9a5Je29Pg-DaKoC5fPi8s2JAdD5wNqx1esDO7uEv4r9LFFAl1Xu-IZKZYBRMqBz4&usqp=CAU">
                            </div>

                            <div class="col-md-7 d-flex align-items-stretch">
                                <div class="form-signin w-100 m-auto">
                                    <div class="form-floating">

                                        <h3>Sign In</h3>
                                        <p class="mb-4">Add your credentials to log in.</p>

                                        @using (Html.BeginForm("LogIn", "Home"))
                                        {
                                            <div class="p-lg-2 p-1 btn-lg" style="font-size:120%">
                                                @Html.LabelFor(m => m.UserName, "User Name: ")
                                                @Html.TextBoxFor(m => m.UserName)
                                            </div>

                                            <div class="p-lg-2 p-1 btn-lg" style="font-size:120%">
                                                @Html.LabelFor(m => m.Password, "Password: ")
                                                @Html.TextBoxFor(m => m.Password)
                                            </div>

                                            <div class="input-group text-center p-lg-1 p-1  btn btn-lg">
                                                <p style="color:red">
                                                    @ViewBag.Result
                                                </p>
                                            </div>

                                            <div class="input-group text-center">
                                                <input type="submit" value="Log In" class="w-100 btn btn-lg btn-primary" />
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>