@page
@model TP1_webApp.Models.SQLConnection

@{
}


<body>
    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Base de Datos</h2>
                </div>
            </div>

            <div class="d-flex align-items-stretch">
                <div class="info-wrap w-100 p-lg-5 p-4" style="background-color:SlateBlue">
                    
                    <form>

                        @using (Html.BeginForm("FilterByName", "Home", FormMethod.Post))
                        {
                            @Html.LabelFor(m => m.NameFilter_txt, "")
                            @Html.LabelFor(m => m.CountFilter_txt, "")
                            @Html.LabelFor(m => m.ClassFilter_txt, "")
                        }

                        @using (Html.BeginForm("FilterByName", "Home", FormMethod.Post))
                        {
                            <div class="input-group text-center info-wrap">
                                @Html.EditorFor(m => m.NameFilter_txt, new { htmlAttributes = new { @class = "form-control text-center", @style = "width:700px" } })
                                <input type="submit" value="Filter by Name" class="btn btn-success" />
                            </div>
                        }

                        @using (Html.BeginForm("FilterByCount", "Home", FormMethod.Post))
                        {
                            <div class="input-group text-center info-wrap">
                                @Html.EditorFor(m => m.CountFilter_txt, new { htmlAttributes = new { @class = "form-control text-center", @style = "width:700px" } })
                                <input type="submit" value="Filter by Count" class="btn btn-success" />
                            </div>
                        }

                        @using (Html.BeginForm("FilterByClass", "Home", FormMethod.Post))
                        {
                            <div class="input-group text-center info-wrap">
                                @Html.EditorFor(m => m.ClassFilter_txt, new { htmlAttributes = new { @class = "form-control text-center", @style = "width:700px" } })
                                <input type="submit" value="Filter by Classs" class="btn btn-success" />
                            </div>
                        }

                        <div class="input-group text-center info-wrap w-100 p-lg-1 p-1">
                            @Html.ActionLink("Add new item", "Insert", new { area = "" }, new { @class = "form-control btn btn-lg btn-success" })
                        </div>

                        <div class="input-group text-center info-wrap w-100 p-lg-1 p-1">
                            @Html.ActionLink("Sign Out", "Sign_Out", new { area = "" }, new { @class = "btn btn-lg btn-primary" })
                        </div>

                    </form>

                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters">
                            
                            
                            
                            <div class="d-flex align-items-stretch">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">Items List</h3>
                                    <div id="form-message-warning" class="mb-4"></div>
                                    <div id="form-message-success" class="mb-4">
                                        Total items found:
                                        <form>

                                            <div class="input-group text-center">
                                                <input id="result_txt" type="text" class="form-control text-center" value=@ViewBag.Count>
                                                @Html.ActionLink("Get Items", "Get_Items", new { area = "" }, new { @class = "btn btn-success" })
                                            </div>

                                        </form>
                                    </div>
                                    
                                    <table id="t1" class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>IDClase</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 1; i <= @ViewBag.Count; i++)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(model => model.ItemsList[i].ID)</td>
                                                    <td>@Html.DisplayFor(model => model.ItemsList[i].IDClase)</td>
                                                    <td>@Html.DisplayFor(model => model.ItemsList[i].Name)</td>
                                                    <td>@Html.DisplayFor(model => model.ItemsList[i].Price)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
    <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon="{&quot;rayId&quot;:&quot;7a4884224a302b01&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2023.2.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>


</body>